/bin/
/packages/
/obj-*/
/debian/changelog
/debian/.debhelper/
/debian/bootstash/
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/*.debhelper.log
/debian/debhelper-build-stamp
/plans/
__pycache__/
.cursor/
.*.swp
